openapi: 3.0.3
info:
  title: 'Sweep&Go - Open API'
  description: 'Sweep&Go - Open API description'
  version: 1.0.0
servers:
  - url: 'https://openapi.sweepandgo.com'
tags:
  - name: 'Access token'
    description: "\nEndpoints for generating, retrieving, and managing API access tokens."
  - name: Tests
    description: "\nEndpoints used for health and availability checks."
  - name: 'Clients list'
    description: "\nEndpoints for retrieving and searching clients within an organization."
  - name: 'Onboarding new clients'
    description: "\nEndpoints for onboarding new clients."
  - name: 'Leads list'
    description: "\nEndpoints for retrieving leads within an organization."
  - name: 'Dispatch Board'
    description: "\nEndpoints for retrieving list of jobs."
  - name: 'Access token checker'
    description: "\nEndpoints for retrieving API access token details."
  - name: 'Multi organization zip code check'
    description: "\nEndpoints for checking which organization should serve a given ZIP code."
  - name: 'Onboarding form'
    description: "\nThe client onboarding workflow helps dog owners get a free quote and sign up for service on their own.\n\nEach account has its own unique and prebuilt client onboarding url which you may want to use as a reference. To obtain your url, please visit Employee portal > Settings > Client Onboarding > View in Browser then copy the url shown in the address bar. The form should look like this: https://client.sweepandgo.com/unique-slug/register"
  - name: 'One time invoice charge using credit cards'
    description: "\nEndpoints for processing one-time invoice payments."
  - name: 'One time check payments'
    description: "\nEndpoints for one time check payments."
  - name: Reports
    description: "\nEndpoints for retrieving report counts and staff lists."
  - name: 'Gift card certificates'
    description: "\nEndpoints for managing gift card certificates."
  - name: Coupons
    description: "\nEndpoints for managing coupons for residential subscriptions."
  - name: 'Free quotes'
    description: "\nEndpoints for retrieving free quotes."
  - name: 'Inbound SMS notifications'
    description: ''
  - name: 'Packaged cross-sells'
    description: "\nEndpoints for retrieving packaged cross-sells."
  - name: Webhooks
    description: "\nWebhooks for organization. Here is the list of all webhooks for one organization. You may trigger it at any time to receive a list of all webhook types.\nType list of webhooks:\n- free:quote - Free quote\n- lead:out_of_service_area - Lead - out of service area\n- lead:in_service_area - Lead - in service area\n- lead:delete - Lead - deleted\n- client:changed_status - Client - changed status\n- client:changed_info - Client - changed info\n- client:changed_address - Client - changed address\n- client:client_onboarding_recurring - Client - client onboarding recurring\n- client:client_onboarding_onetime - Client - client onboarding onetime\n- client:subscription_created - Client - subscription created\n- client:subscription_canceled - Client - subscription canceled\n- client:subscription_paused - Client - subscription paused\n- client:subscription_unpaused - Client - subscription unpaused\n- client:invoice_finalized - Client - invoice finalized\n- client:client_payment_declined - Client payment was declined\n- client:client_payment_accepted - Client payment was accepted\n- notification:on_the_way_notification - Notification - on the way notification\n- notification:off_schedule_notification - Notification - off schedule notification\n- notification:completed_job_notification - Notification - completed job notification\n- notification:skipped_job_notification - Notification - skipped job notification\n- notification:client_not_assigned - Notification - client not assigned\n- client:client_assigned - Client - client assigned\n- client:subscription_cancel_requested - Client - subscription cancel requested\n- client:notification_settings_changed - Client - notification settings changed\n- client:additional_contact_changed - Client - additional contact changed\n- client:reviews_automation - Client - reviews automation\n- client:areas_to_clean_changed - Client - areas to clean changed\n- staff:staff_clock_in - Staff - staff clock in\n- staff:staff_forgot_to_clock_out - Staff - staff forgot to clock out\n- staff:shift_break_started - Staff - shift break started\n- staff:shift_break_info - Staff - shift break info\n- job:started - Job - started with info\n- job:completed - Job - completed with info start time, end time, job type and price\n- organization:client_onboarding_form_changed - Business - client onboarding form changed\n- organization:cross_sells_changed - Business - cross sells changed\n- payroll:shift_info - Payroll - shift info, work time, start time, end time, mileages, duration, break duration\n- payroll:tip_info - Payroll - tip linked to invoice with amount\n- dog:birthday - Send webhook on dog birthday 7 days in advance\n- client:credit_card_link_created - Private credit card link created for add new credit card\n- commercial:client_created - Commercial - client created\n- commercial:client_changed_info - Commercial - client changed info\n- commercial:client_changed_status - Commercial - client changed status\n- commercial:location_created - Commercial - location created\n- commercial:location_changed - Commercial - location changed\n- commercial:location_deleted - Commercial - location deleted\n- commercial:contact_created - Commercial - contact created\n- commercial:contact_changed - Commercial - contact changed\n- commercial:contact_deleted - Commercial - contact deleted\n- commercial:subscription_created - Commercial - subscription created\n- commercial:subscription_paused - Commercial - subscription paused\n- commercial:subscription_unpaused - Commercial - subscription unpaused\n- commercial:subscription_canceled - Commercial - subscription canceled\n- commercial:invoice_finalized - Commercial - invoice finalized\n- commercial:client_payment_declined - Commercial - client payment declined\n- commercial:client_payment_accepted - Commercial - client payment accepted\n- commercial:client_assigned - Commercial - client assigned\n- commercial:client_no_assigned - Commercial - client no assigned\n- commercial_notification:on_the_way_notification - Commercial Notification - on the way notification\n- commercial_notification:off_schedule_notification - Commercial Notification - off schedule notification\n- commercial_notification:completed_job_notification - Commercial Notification - completed job notification\n- commercial_notification:skipped_job_notification - Commercial Notification - skipped job notification\n- commercial_job:started - Commercial Job - started with info"
  - name: 'Billing Info'
    description: "\nEndpoints for retrieving billing info - recurring and one-time invoices and payments."
  - name: 'Commercial clients list'
    description: "\nEndpoints for retrieving and searching commercial clients, their locations and contacts within an organization."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
paths:
  /api/token_generate/access_tokens:
    get:
      summary: 'List API access tokens'
      operationId: listAPIAccessTokens
      description: 'Returns all API access tokens for the given organization, including masked token values, webhook URLs, and enabled events.'
      parameters:
        -
          in: query
          name: organization_id
          description: 'Organization ID.'
          example: 2
          required: true
          schema:
            type: integer
            description: 'Organization ID.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: array
                      example:
                        -
                          id: 12
                          token: '************************************************************XLtm'
                          webhooks_url: 'https://example.com/webhooks'
                          description: 'First token'
                          enabled_events:
                            - 'client:client_onboarding_onetime'
                            - 'client:client_recurring_employee_portal'
                        -
                          id: 18
                          token: '************************************************************9P4a'
                          webhooks_url: 'https://example.com/webhooks'
                          description: 'Second token'
                          enabled_events:
                            - 'client:client_onboarding_onetime'
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 12
                          token:
                            type: string
                            example: '************************************************************XLtm'
                          webhooks_url:
                            type: string
                            example: 'https://example.com/webhooks'
                          description:
                            type: string
                            example: 'First token'
                          enabled_events:
                            type: array
                            example:
                              - 'client:client_onboarding_onetime'
                              - 'client:client_recurring_employee_portal'
                            items:
                              type: string
                    webhooks:
                      type: object
                      properties:
                        'free:quote':
                          type: string
                          example: 'Free quote'
                        'lead:out_of_service_area':
                          type: string
                          example: 'Lead - out of service area'
                        'lead:in_service_area':
                          type: string
                          example: 'Lead - in service area'
                        'lead:delete':
                          type: string
                          example: 'Lead - deleted'
                        'client:changed_status':
                          type: string
                          example: 'Client - changed status'
                        'client:changed_info':
                          type: string
                          example: 'Client - changed info'
                        'client:changed_address':
                          type: string
                          example: 'Client - changed address'
                        'client:client_onboarding_recurring':
                          type: string
                          example: 'Client - client onboarding recurring'
                        'client:client_onboarding_onetime':
                          type: string
                          example: 'Client - client onboarding onetime'
                        'client:subscription_created':
                          type: string
                          example: 'Client - subscription created'
                        'client:subscription_canceled':
                          type: string
                          example: 'Client - subscription canceled'
                        'client:subscription_paused':
                          type: string
                          example: 'Client - subscription paused'
                        'client:subscription_unpaused':
                          type: string
                          example: 'Client - subscription unpaused'
                        'client:invoice_finalized':
                          type: string
                          example: 'Client - invoice finalized'
                        'client:client_no_assigned':
                          type: string
                          example: 'Client - client no assigned'
                        'client:client_assigned':
                          type: string
                          example: 'Client - client assigned'
                        'client:subscription_cancel_requested':
                          type: string
                          example: 'Client - subscription cancel requested'
                        'client:notification_settings_changed':
                          type: string
                          example: 'Client - notification settings changed'
                        'client:additional_contact_changed':
                          type: string
                          example: 'Client - additional contact changed'
                        'client:client_payment_declined':
                          type: string
                          example: 'Client - client payment declined'
                        'client:client_payment_accepted':
                          type: string
                          example: 'Client - client payment accepted'
                        'client:reviews_automation':
                          type: string
                          example: 'Client - reviews automation'
                        'client:areas_to_clean_changed':
                          type: string
                          example: 'Client - areas to clean changed'
                        'notification:on_the_way_notification':
                          type: string
                          example: 'Notification - on the way notification'
                        'notification:off_schedule_notification':
                          type: string
                          example: 'Notification - off schedule notification'
                        'notification:completed_job_notification':
                          type: string
                          example: 'Notification - completed job notification'
                        'notification:skipped_job_notification':
                          type: string
                          example: 'Notification - skipped job notification'
                        'notification:client_not_assigned':
                          type: string
                          example: 'Notification - Client not assigned'
                        'staff:staff_clock_in':
                          type: string
                          example: 'Staff - staff clock in'
                        'staff:staff_forgot_to_clock_out':
                          type: string
                          example: 'Staff - staff forgot to clock out'
                        'staff:shift_break_started':
                          type: string
                          example: 'Staff - shift break started'
                        'staff:shift_break_info':
                          type: string
                          example: 'Staff - shift break info'
                        'job:started':
                          type: string
                          example: 'Job - started with info'
                        'job:completed':
                          type: string
                          example: 'Job - completed with info start time, end time, job type and price'
                        'organization:client_onboarding_form_changed':
                          type: string
                          example: 'Business - client onboarding form changed'
                        'organization:cross_sells_changed':
                          type: string
                          example: 'Business - cross sells changed'
                        'payroll:shift_info':
                          type: string
                          example: 'Payroll - shift info, work time, start time, end time, mileages, duration, break duration'
                        'payroll:tip_info':
                          type: string
                          example: 'Payroll - tip linked to invoice with amount'
                        'dog:birthday':
                          type: string
                          example: 'Send webhook on dog birthday 7 days in advance'
                        'client:credit_card_link_created':
                          type: string
                          example: 'Private credit card link created for add new credit card'
                example:
                  -
                    data:
                      -
                        id: 12
                        token: '************************************************************XLtm'
                        webhooks_url: 'https://example.com/webhooks'
                        description: 'First token'
                        enabled_events:
                          - 'client:client_onboarding_onetime'
                          - 'client:client_recurring_employee_portal'
                      -
                        id: 18
                        token: '************************************************************9P4a'
                        webhooks_url: 'https://example.com/webhooks'
                        description: 'Second token'
                        enabled_events:
                          - 'client:client_onboarding_onetime'
                    webhooks:
                      'free:quote': 'Free quote'
                      'lead:out_of_service_area': 'Lead - out of service area'
                      'lead:in_service_area': 'Lead - in service area'
                      'lead:delete': 'Lead - deleted'
                      'client:changed_status': 'Client - changed status'
                      'client:changed_info': 'Client - changed info'
                      'client:changed_address': 'Client - changed address'
                      'client:client_onboarding_recurring': 'Client - client onboarding recurring'
                      'client:client_onboarding_onetime': 'Client - client onboarding onetime'
                      'client:subscription_created': 'Client - subscription created'
                      'client:subscription_canceled': 'Client - subscription canceled'
                      'client:subscription_paused': 'Client - subscription paused'
                      'client:subscription_unpaused': 'Client - subscription unpaused'
                      'client:invoice_finalized': 'Client - invoice finalized'
                      'client:client_no_assigned': 'Client - client no assigned'
                      'client:client_assigned': 'Client - client assigned'
                      'client:subscription_cancel_requested': 'Client - subscription cancel requested'
                      'client:notification_settings_changed': 'Client - notification settings changed'
                      'client:additional_contact_changed': 'Client - additional contact changed'
                      'client:client_payment_declined': 'Client - client payment declined'
                      'client:client_payment_accepted': 'Client - client payment accepted'
                      'client:reviews_automation': 'Client - reviews automation'
                      'client:areas_to_clean_changed': 'Client - areas to clean changed'
                      'notification:on_the_way_notification': 'Notification - on the way notification'
                      'notification:off_schedule_notification': 'Notification - off schedule notification'
                      'notification:completed_job_notification': 'Notification - completed job notification'
                      'notification:skipped_job_notification': 'Notification - skipped job notification'
                      'notification:client_not_assigned': 'Notification - Client not assigned'
                      'staff:staff_clock_in': 'Staff - staff clock in'
                      'staff:staff_forgot_to_clock_out': 'Staff - staff forgot to clock out'
                      'staff:shift_break_started': 'Staff - shift break started'
                      'staff:shift_break_info': 'Staff - shift break info'
                      'job:started': 'Job - started with info'
                      'job:completed': 'Job - completed with info start time, end time, job type and price'
                      'organization:client_onboarding_form_changed': 'Business - client onboarding form changed'
                      'organization:cross_sells_changed': 'Business - cross sells changed'
                      'payroll:shift_info': 'Payroll - shift info, work time, start time, end time, mileages, duration, break duration'
                      'payroll:tip_info': 'Payroll - tip linked to invoice with amount'
                      'dog:birthday': 'Send webhook on dog birthday 7 days in advance'
                      'client:credit_card_link_created': 'Private credit card link created for add new credit card'
      tags:
        - 'Access token'
      security: []
  '/api/token_generate/access_token/{id}':
    get:
      summary: 'Get API access token details'
      operationId: getAPIAccessTokenDetails
      description: 'Returns the masked API token after it has been generated.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: lrLxIj3PmNkSKdsFdTYYrfLFSungwVl4vXUk9alQo3Zu6cCGpslCGfHI9k2wXLtm
                  _id: 12
                properties:
                  token:
                    type: string
                    example: lrLxIj3PmNkSKdsFdTYYrfLFSungwVl4vXUk9alQo3Zu6cCGpslCGfHI9k2wXLtm
                  _id:
                    type: integer
                    example: 12
      tags:
        - 'Access token'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the access token.'
        example: 12
        required: true
        schema:
          type: integer
  /api/token_generate/access_token:
    post:
      summary: 'Generate API access token'
      operationId: generateAPIAccessToken
      description: 'Creates a new API access token for the given organization.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: lrLxIj3PmNkSKdsFdTYYrfLFSungwVl4vXUk9alQo3Zu6cCGpslCGfHI9k2wXLtm
                  _id: 12
                properties:
                  token:
                    type: string
                    example: lrLxIj3PmNkSKdsFdTYYrfLFSungwVl4vXUk9alQo3Zu6cCGpslCGfHI9k2wXLtm
                  _id:
                    type: integer
                    example: 12
      tags:
        - 'Access token'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_id:
                  type: integer
                  description: 'Organization ID the token belongs to.'
                  example: 2
                webhooks_url:
                  type: string
                  description: 'Webhook endpoint that will receive event payloads.'
                  example: 'https://example.com/webhooks'
                  nullable: true
                enabled_events:
                  type: array
                  description: 'List of enabled webhook events.'
                  example:
                    - dolorem
                  items:
                    type: string
                    nullable: true
                description:
                  type: string
                  description: 'Human-readable description of the token purpose.'
                  example: 'Webhooks for client onboarding events'
              required:
                - organization_id
                - webhooks_url
                - enabled_events
  '/api/token_generate/access_token/{id}/delete':
    get:
      summary: 'Delete API access token'
      operationId: deleteAPIAccessToken
      description: 'Deletes an API access token.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: success
                properties:
                  success:
                    type: string
                    example: success
      tags:
        - 'Access token'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the access token.'
        example: qui
        required: true
        schema:
          type: string
  /api/health:
    get:
      summary: 'API health check'
      operationId: aPIHealthCheck
      description: "Returns the current status of the API.\nThis endpoint can be used by monitoring services to verify that the API is running and reachable."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: OK
                  version: v1
                properties:
                  status:
                    type: string
                    example: OK
                  version:
                    type: string
                    example: v1
      tags:
        - Tests
      security: []
  /api/v1/welcome:
    get:
      summary: 'Test v1 API endpoint'
      operationId: testV1APIEndpoint
      description: 'Echoes back the received request payload and triggers a test webhook event for the specified organization.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: v1
                  request:
                    example_param: example_value
                properties:
                  success:
                    type: string
                    example: v1
                  request:
                    type: object
                    properties:
                      example_param:
                        type: string
                        example: example_value
      tags:
        - Tests
  /api/v2/welcome:
    get:
      summary: 'Test v2 API endpoint'
      operationId: testV2APIEndpoint
      description: 'Echoes back the received request payload.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: v2
                  request:
                    example_param: example_value
                properties:
                  success:
                    type: string
                    example: v2
                  request:
                    type: object
                    properties:
                      example_param:
                        type: string
                        example: example_value
      tags:
        - Tests
  /api/v1/clients/active:
    get:
      summary: 'Get active clients'
      operationId: getActiveClients
      description: 'Returns a paginated list of active clients.'
      parameters:
        -
          in: query
          name: page
          description: 'Get results for specific page.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Get results for specific page.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      client: rcl_MTPQPRUUUY7G
                      status: active
                      type: employee_portal
                      email: demo@mail.com
                      first_name: John
                      last_name: Doe
                      address: '3289 Summit Street'
                      zip_code: '52801'
                      home_phone: null
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      subscription_names: '2w-3d,Deodorising'
                      one_time_client: false
                      channel: sms
                      on_the_way: true
                      completed: true
                      off_schedule: false
                      tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                      service_days: Monday
                      assigned_to: 'Alissa Doe'
                      cleanup_frequency: once_a_week
                  paginate:
                    total: 1
                    count: 1
                    per_page: 10
                    current_page: 1
                    total_pages: 1
                properties:
                  data:
                    type: array
                    example:
                      - client: rcl_MTPQPRUUUY7G
                        status: active
                        type: employee_portal
                        email: demo@mail.com
                        first_name: John
                        last_name: Doe
                        address: '3289 Summit Street'
                        zip_code: '52801'
                        home_phone: null
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        subscription_names: '2w-3d,Deodorising'
                        one_time_client: false
                        channel: sms
                        on_the_way: true
                        completed: true
                        off_schedule: false
                        tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days: Monday
                        assigned_to: 'Alissa Doe'
                        cleanup_frequency: once_a_week
                    items:
                      type: object
                      properties:
                        client:
                          type: string
                          example: rcl_MTPQPRUUUY7G
                        status:
                          type: string
                          example: active
                        type:
                          type: string
                          example: employee_portal
                        email:
                          type: string
                          example: demo@mail.com
                        first_name:
                          type: string
                          example: John
                        last_name:
                          type: string
                          example: Doe
                        address:
                          type: string
                          example: '3289 Summit Street'
                        zip_code:
                          type: string
                          example: '52801'
                        home_phone:
                          type: string
                          example: null
                          nullable: true
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                        subscription_names:
                          type: string
                          example: '2w-3d,Deodorising'
                        one_time_client:
                          type: boolean
                          example: false
                        channel:
                          type: string
                          example: sms
                        on_the_way:
                          type: boolean
                          example: true
                        completed:
                          type: boolean
                          example: true
                        off_schedule:
                          type: boolean
                          example: false
                        tracking_field:
                          type: string
                          example: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days:
                          type: string
                          example: Monday
                        assigned_to:
                          type: string
                          example: 'Alissa Doe'
                        cleanup_frequency:
                          type: string
                          example: once_a_week
                  paginate:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      count:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      current_page:
                        type: integer
                        example: 1
                      total_pages:
                        type: integer
                        example: 1
      tags:
        - 'Clients list'
  /api/v1/clients/active_no_subscription:
    get:
      summary: 'Get active clients without an active subscription'
      operationId: getActiveClientsWithoutAnActiveSubscription
      description: 'Returns a paginated list of active clients that do not have any active subscriptions.'
      parameters:
        -
          in: query
          name: page
          description: 'Get results for specific page.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Get results for specific page.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      client: rcl_MTPQPRUUUY7G
                      status: active
                      type: employee_portal
                      email: demo@mail.com
                      first_name: John
                      last_name: Doe
                      address: '3289 Summit Street'
                      zip_code: '52801'
                      home_phone: null
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      channel: sms
                      on_the_way: true
                      completed: true
                      off_schedule: false
                      subscription_names: '2w-3d,Deodorising'
                      one_time_client: false
                      tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                      service_days: Monday
                      assigned_to: 'Alissa Doe'
                      cleanup_frequency: once_a_week
                  paginate:
                    total: 1
                    count: 1
                    per_page: 10
                    current_page: 1
                    total_pages: 1
                properties:
                  data:
                    type: array
                    example:
                      - client: rcl_MTPQPRUUUY7G
                        status: active
                        type: employee_portal
                        email: demo@mail.com
                        first_name: John
                        last_name: Doe
                        address: '3289 Summit Street'
                        zip_code: '52801'
                        home_phone: null
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        channel: sms
                        on_the_way: true
                        completed: true
                        off_schedule: false
                        subscription_names: '2w-3d,Deodorising'
                        one_time_client: false
                        tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days: Monday
                        assigned_to: 'Alissa Doe'
                        cleanup_frequency: once_a_week
                    items:
                      type: object
                      properties:
                        client:
                          type: string
                          example: rcl_MTPQPRUUUY7G
                        status:
                          type: string
                          example: active
                        type:
                          type: string
                          example: employee_portal
                        email:
                          type: string
                          example: demo@mail.com
                        first_name:
                          type: string
                          example: John
                        last_name:
                          type: string
                          example: Doe
                        address:
                          type: string
                          example: '3289 Summit Street'
                        zip_code:
                          type: string
                          example: '52801'
                        home_phone:
                          type: string
                          example: null
                          nullable: true
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                        channel:
                          type: string
                          example: sms
                        on_the_way:
                          type: boolean
                          example: true
                        completed:
                          type: boolean
                          example: true
                        off_schedule:
                          type: boolean
                          example: false
                        subscription_names:
                          type: string
                          example: '2w-3d,Deodorising'
                        one_time_client:
                          type: boolean
                          example: false
                        tracking_field:
                          type: string
                          example: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days:
                          type: string
                          example: Monday
                        assigned_to:
                          type: string
                          example: 'Alissa Doe'
                        cleanup_frequency:
                          type: string
                          example: once_a_week
                  paginate:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      count:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      current_page:
                        type: integer
                        example: 1
                      total_pages:
                        type: integer
                        example: 1
      tags:
        - 'Clients list'
  /api/v1/clients/inactive:
    get:
      summary: 'Get inactive clients'
      operationId: getInactiveClients
      description: 'Returns a paginated list of inactive clients.'
      parameters:
        -
          in: query
          name: page
          description: 'Get results for specific page.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Get results for specific page.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      client: rcl_MTPQPRUUUY7G
                      status: inactive
                      type: employee_portal
                      email: demo@mail.com
                      first_name: John
                      last_name: Doe
                      address: '3289 Summit Street'
                      zip_code: '52801'
                      home_phone: null
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      channel: sms
                      on_the_way: true
                      completed: true
                      off_schedule: false
                      subscription_names: ''
                      one_time_client: false
                      tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                      service_days: Monday
                      assigned_to: 'Alissa Doe'
                      cleanup_frequency: once_a_week
                  paginate:
                    total: 1
                    count: 1
                    per_page: 10
                    current_page: 1
                    total_pages: 1
                properties:
                  data:
                    type: array
                    example:
                      - client: rcl_MTPQPRUUUY7G
                        status: inactive
                        type: employee_portal
                        email: demo@mail.com
                        first_name: John
                        last_name: Doe
                        address: '3289 Summit Street'
                        zip_code: '52801'
                        home_phone: null
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        channel: sms
                        on_the_way: true
                        completed: true
                        off_schedule: false
                        subscription_names: ''
                        one_time_client: false
                        tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days: Monday
                        assigned_to: 'Alissa Doe'
                        cleanup_frequency: once_a_week
                    items:
                      type: object
                      properties:
                        client:
                          type: string
                          example: rcl_MTPQPRUUUY7G
                        status:
                          type: string
                          example: inactive
                        type:
                          type: string
                          example: employee_portal
                        email:
                          type: string
                          example: demo@mail.com
                        first_name:
                          type: string
                          example: John
                        last_name:
                          type: string
                          example: Doe
                        address:
                          type: string
                          example: '3289 Summit Street'
                        zip_code:
                          type: string
                          example: '52801'
                        home_phone:
                          type: string
                          example: null
                          nullable: true
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                        channel:
                          type: string
                          example: sms
                        on_the_way:
                          type: boolean
                          example: true
                        completed:
                          type: boolean
                          example: true
                        off_schedule:
                          type: boolean
                          example: false
                        subscription_names:
                          type: string
                          example: ''
                        one_time_client:
                          type: boolean
                          example: false
                        tracking_field:
                          type: string
                          example: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                        service_days:
                          type: string
                          example: Monday
                        assigned_to:
                          type: string
                          example: 'Alissa Doe'
                        cleanup_frequency:
                          type: string
                          example: once_a_week
                  paginate:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      count:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      current_page:
                        type: integer
                        example: 1
                      total_pages:
                        type: integer
                        example: 1
      tags:
        - 'Clients list'
  /api/v2/clients/client_details:
    post:
      summary: 'Get client details and payments'
      operationId: getClientDetailsAndPayments
      description: 'Returns client details along with payment history.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  client: rcl_MTPQPRUUUY7G
                  status: active
                  type: employee_portal
                  email: demo@mail.com
                  first_name: John
                  last_name: Doe
                  address: '3289 Summit Street'
                  zip_code: '52801'
                  home_phone: '4155550110'
                  cell_phone: '2025550101'
                  marketing_allowed: 1
                  marketing_allowed_updated_at: '2025-03-05 10:20:55'
                  marketing_allowed_source: open_api
                  channel: sms
                  on_the_way: true
                  completed: true
                  off_schedule: false
                  tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                  service_days: Monday
                  assigned_to: 'Alissa Doe'
                  cleanup_frequency: once_a_week
                  subscription_names: 2d1W
                  sum_payments: 10.0
                  payments:
                    -
                      id: 1049219
                      date: '2024-05-01'
                      amount: 139.43
                      tip_amount: '5.00'
                      status: succeeded
                      type: credit_card
                      description: 'Payment for invoice(s) 199-66362-240501-2-1294170'
                      created_at: '2024-05-01 11:19:38'
                    -
                      id: 1048709
                      date: '2024-05-01'
                      amount: 139.43
                      tip_amount: '0.00'
                      status: failed
                      type: credit_card
                      description: 'Payment for invoice(s) 199-66362-240501-2-1294170'
                      created_at: '2024-05-01 11:11:13'
                properties:
                  client:
                    type: string
                    example: rcl_MTPQPRUUUY7G
                  status:
                    type: string
                    example: active
                  type:
                    type: string
                    example: employee_portal
                  email:
                    type: string
                    example: demo@mail.com
                  first_name:
                    type: string
                    example: John
                  last_name:
                    type: string
                    example: Doe
                  address:
                    type: string
                    example: '3289 Summit Street'
                  zip_code:
                    type: string
                    example: '52801'
                  home_phone:
                    type: string
                    example: '4155550110'
                  cell_phone:
                    type: string
                    example: '2025550101'
                  marketing_allowed:
                    type: integer
                    example: 1
                  marketing_allowed_updated_at:
                    type: string
                    example: '2025-03-05 10:20:55'
                  marketing_allowed_source:
                    type: string
                    example: open_api
                  channel:
                    type: string
                    example: sms
                  on_the_way:
                    type: boolean
                    example: true
                  completed:
                    type: boolean
                    example: true
                  off_schedule:
                    type: boolean
                    example: false
                  tracking_field:
                    type: string
                    example: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                  service_days:
                    type: string
                    example: Monday
                  assigned_to:
                    type: string
                    example: 'Alissa Doe'
                  cleanup_frequency:
                    type: string
                    example: once_a_week
                  subscription_names:
                    type: string
                    example: 2d1W
                  sum_payments:
                    type: number
                    example: 10.0
                  payments:
                    type: array
                    example:
                      - id: 1049219
                        date: '2024-05-01'
                        amount: 139.43
                        tip_amount: '5.00'
                        status: succeeded
                        type: credit_card
                        description: 'Payment for invoice(s) 199-66362-240501-2-1294170'
                        created_at: '2024-05-01 11:19:38'
                      - id: 1048709
                        date: '2024-05-01'
                        amount: 139.43
                        tip_amount: '0.00'
                        status: failed
                        type: credit_card
                        description: 'Payment for invoice(s) 199-66362-240501-2-1294170'
                        created_at: '2024-05-01 11:11:13'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1049219
                        date:
                          type: string
                          example: '2024-05-01'
                        amount:
                          type: number
                          example: 139.43
                        tip_amount:
                          type: string
                          example: '5.00'
                        status:
                          type: string
                          example: succeeded
                        type:
                          type: string
                          example: credit_card
                        description:
                          type: string
                          example: 'Payment for invoice(s) 199-66362-240501-2-1294170'
                        created_at:
                          type: string
                          example: '2024-05-01 11:19:38'
      tags:
        - 'Clients list'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client:
                  type: string
                  description: 'Unique client string in your organization.'
                  example: rcl_MTPQPRUUUY7G
              required:
                - client
  /api/v2/clients/client_search:
    post:
      summary: 'Search client by email'
      operationId: searchClientByEmail
      description: 'Finds a client by email address and returns basic client details.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  client: rcl_MTPQPRUUUY7G
                  status: active
                  type: employee_portal
                  email: john@doe.com
                  first_name: John
                  last_name: Doe
                  address: '3289 Summit Street'
                  zip_code: '52801'
                  home_phone: '4155550110'
                  cell_phone: '2025550101'
                  marketing_allowed: 1
                  marketing_allowed_updated_at: '2025-03-05 10:20:55'
                  marketing_allowed_source: open_api
                  channel: sms
                  on_the_way: true
                  completed: true
                  off_schedule: false
                  tracking_field: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                  service_days: Monday
                  assigned_to: 'Alissa Doe'
                  cleanup_frequency: once_a_week
                  subscription_names: 2d1W
                properties:
                  client:
                    type: string
                    example: rcl_MTPQPRUUUY7G
                  status:
                    type: string
                    example: active
                  type:
                    type: string
                    example: employee_portal
                  email:
                    type: string
                    example: john@doe.com
                  first_name:
                    type: string
                    example: John
                  last_name:
                    type: string
                    example: Doe
                  address:
                    type: string
                    example: '3289 Summit Street'
                  zip_code:
                    type: string
                    example: '52801'
                  home_phone:
                    type: string
                    example: '4155550110'
                  cell_phone:
                    type: string
                    example: '2025550101'
                  marketing_allowed:
                    type: integer
                    example: 1
                  marketing_allowed_updated_at:
                    type: string
                    example: '2025-03-05 10:20:55'
                  marketing_allowed_source:
                    type: string
                    example: open_api
                  channel:
                    type: string
                    example: sms
                  on_the_way:
                    type: boolean
                    example: true
                  completed:
                    type: boolean
                    example: true
                  off_schedule:
                    type: boolean
                    example: false
                  tracking_field:
                    type: string
                    example: 'utm_campaign=blog_post &utm_medium=social&utm_source=facebook'
                  service_days:
                    type: string
                    example: Monday
                  assigned_to:
                    type: string
                    example: 'Alissa Doe'
                  cleanup_frequency:
                    type: string
                    example: once_a_week
                  subscription_names:
                    type: string
                    example: 2d1W
      tags:
        - 'Clients list'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: email
                  description: 'Client email in your organization.'
                  example: john@doe.com
                status:
                  type: string
                  description: 'Client status filter. Allowed: active,inactive.'
                  example: active
                  nullable: true
                latest:
                  type: boolean
                  description: 'If true, returns the most recently created or updated client for this email.'
                  example: true
                  nullable: true
              required:
                - email
  /api/v1/residential/onboarding:
    put:
      summary: 'Onboard a new residential client in Sweep&Go'
      operationId: onboardANewResidentialClientInSweepGo
      description: "Registers a new residential client in Sweep&Go.\nThis endpoint accepts client details, service preferences, notifications, dog information and optional payment details."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  success: success
                properties:
                  success:
                    type: string
                    example: success
      tags:
        - 'Onboarding new clients'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                zip_code:
                  type: string
                  description: 'Zip code. Must be a 5-digit number.'
                  example: '12110'
                number_of_dogs:
                  type: integer
                  description: 'Number of dogs.'
                  example: 2
                last_time_yard_was_thoroughly_cleaned:
                  type: string
                  description: 'When the yard was last thoroughly cleaned. Available options are: one_week, two_weeks, three_weeks, one_month, two_months, 3-4_months, 5-6_months, 7-9_months, 10+_months.'
                  example: one_week
                clean_up_frequency:
                  type: string
                  description: 'Cleanup frequency. Available options are: seven_times_a_week, six_times_a_week, five_times_a_week, four_times_a_week, three_times_a_week, two_times_a_week, once_a_week, bi_weekly, twice_per_month, every_three_weeks, every_four_weeks, once_a_month, one_time.'
                  example: once_a_week
                first_name:
                  type: string
                  description: 'Client first name.'
                  example: John
                last_name:
                  type: string
                  description: 'Client last name.'
                  example: Doe
                email:
                  type: email
                  description: 'Client email.'
                  example: mail@email.com
                city:
                  type: string
                  description: 'Client city.'
                  example: Latham
                home_address:
                  type: string
                  description: 'Client street address.'
                  example: '1494 Ben Street'
                state:
                  type: string
                  description: 'Client state (two-letter abbreviation).'
                  example: TX
                home_phone_number:
                  type: string
                  description: 'Client home phone number.'
                  example: '4155550110'
                  nullable: true
                cell_phone_number:
                  type: string
                  description: 'Client cell phone number.'
                  example: '2025550101'
                  nullable: true
                initial_cleanup_required:
                  type: integer
                  description: 'Whether the client requested an initial cleanup. Available options: 0 (no), 1 (yes).'
                  example: 1
                cleanup_notification_type:
                  type: string
                  description: 'Cleanup notification types. Available options: off_schedule, on_the_way and completed.'
                  example: 'on_the_way,completed'
                  nullable: true
                cleanup_notification_channel:
                  type: string
                  description: 'Method used to notify your client. Available options: sms, email or call.'
                  example: sms
                  nullable: true
                how_heard_about_us:
                  type: string
                  description: 'How the client heard about you. Available options: search_engine, previous_client, referred_by_family_or_friend, flier_from_business, directory_listing, social_media, vehicle_signage, radio_ad, local_event, gift_certificate, other.'
                  example: social_media
                  nullable: true
                how_heard_answer:
                  type: string
                  description: 'Details for "how_heard_about_us".'
                  example: Facebook
                  nullable: true
                additional_comment:
                  type: string
                  description: 'Additional client comment.'
                  example: 'Please clean my yard.'
                  nullable: true
                credit_card_token:
                  type: string
                  description: 'Card token from CardConnect or Stripe (credit card on file).'
                  example: 'tok_5678967890678 or 678987678909876'
                  nullable: true
                name_on_card:
                  type: string
                  description: 'Name on card.'
                  example: 'John Doe'
                postal:
                  type: string
                  description: 'Billing postal code (required for CardConnect tokens).'
                  example: '28301'
                  nullable: true
                expiry:
                  type: string
                  description: 'Expiration (required for CardConnect tokens).'
                  example: '0924'
                  nullable: true
                dog_name:
                  type: array
                  description: 'List of dog names (index-aligned with other dog_* arrays).'
                  example:
                    - expedita
                  items:
                    type: string
                    nullable: true
                safe_dog:
                  type: array
                  description: 'Whether each dog is safe for the technician (index-aligned).'
                  example:
                    - alias
                  items:
                    type: string
                    nullable: true
                dog_breed:
                  type: array
                  description: 'List of dog breeds (index-aligned).'
                  example:
                    - quo
                  items:
                    type: string
                    nullable: true
                dog_comment:
                  type: array
                  description: 'Notes/comments for each dog (index-aligned).'
                  example:
                    - nesciunt
                  items:
                    type: string
                    nullable: true
                cross_sells:
                  type: array
                  description: 'List of cross-sell IDs selected by the client.'
                  example:
                    - 1
                    - 2
                    - 5
                  items:
                    type: integer
                cross_sells_names:
                  type: string
                  description: 'List of cross-sell names selected by the client.'
                  example: 'Spraying,Trash bags,Premium Cleanup'
                  nullable: true
                coupon_code:
                  type: string
                  description: 'Optional coupon code.'
                  example: 5pr1nG
                marketing_allowed:
                  type: integer
                  description: 'Client consent for promotional/marketing messages. Available options: 0 (not allowed), 1 (allowed).'
                  example: 1
                marketing_allowed_source:
                  type: string
                  description: 'Source of the consent value (e.g. open_api, client_portal, employee_portal, wordpress). Defaults to open_api when not provided.'
                  example: open_api
                areas_to_clean:
                  type: string
                  description: 'Areas to clean (comma-separated).'
                  example: 'Front Yard, Back Yard'
                gated_community:
                  type: string
                  description: 'Gated community.'
                  example: '67890'
                gate_location:
                  type: string
                  description: 'Gate location description.'
                  example: left
                gate_code:
                  type: string
                  description: 'Gate code.'
                  example: '1234'
                tracking_field:
                  type: string
                  description: 'UTM tracking code.'
                  example: 'utm_campaign=blog_post&utm_medium=social&utm_source=facebook'
                terms_open_api:
                  type: integer
                  description: 'If you have TOS in your onboarding form. Available options: 0 (no), 1 (yes).'
                  example: 1
              required:
                - zip_code
                - number_of_dogs
                - last_time_yard_was_thoroughly_cleaned
                - clean_up_frequency
                - first_name
                - last_name
                - email
                - city
                - home_address
                - state
                - initial_cleanup_required
                - marketing_allowed
  /api/v1/leads/list:
    get:
      summary: 'Get leads'
      operationId: getLeads
      description: 'Returns a paginated list of leads.'
      parameters:
        -
          in: query
          name: page
          description: 'Get results for specific page.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Get results for specific page.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      lead: rld_MTPQPRUUUY7G
                      status: active
                      type: onboarding_form
                      email: demo@mail.com
                      name: 'John Doe'
                      address: '3289 Summit Street'
                      zip_code: '52801'
                      home_phone: null
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                  paginate:
                    total: 1
                    count: 1
                    per_page: 10
                    current_page: 1
                    total_pages: 1
                properties:
                  data:
                    type: array
                    example:
                      - lead: rld_MTPQPRUUUY7G
                        status: active
                        type: onboarding_form
                        email: demo@mail.com
                        name: 'John Doe'
                        address: '3289 Summit Street'
                        zip_code: '52801'
                        home_phone: null
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                    items:
                      type: object
                      properties:
                        lead:
                          type: string
                          example: rld_MTPQPRUUUY7G
                        status:
                          type: string
                          example: active
                        type:
                          type: string
                          example: onboarding_form
                        email:
                          type: string
                          example: demo@mail.com
                        name:
                          type: string
                          example: 'John Doe'
                        address:
                          type: string
                          example: '3289 Summit Street'
                        zip_code:
                          type: string
                          example: '52801'
                        home_phone:
                          type: string
                          example: null
                          nullable: true
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                  paginate:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      count:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      current_page:
                        type: integer
                        example: 1
                      total_pages:
                        type: integer
                        example: 1
      tags:
        - 'Leads list'
  /api/v1/leads/out_of_service:
    get:
      summary: 'Get out of area leads'
      operationId: getOutOfAreaLeads
      description: 'Returns a paginated list of leads that are out of service area.'
      parameters:
        -
          in: query
          name: page
          description: 'Get results for specific page.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Get results for specific page.'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      lead: rld_MTPQPRUUUY7G
                      status: lead
                      type: out_of_area
                      email: demo@mail.com
                      name: 'John Doe'
                      address: '3289 Summit Street'
                      zip_code: '52801'
                      home_phone: null
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                  paginate:
                    total: 1
                    count: 1
                    per_page: 10
                    current_page: 1
                    total_pages: 1
                properties:
                  data:
                    type: array
                    example:
                      - lead: rld_MTPQPRUUUY7G
                        status: lead
                        type: out_of_area
                        email: demo@mail.com
                        name: 'John Doe'
                        address: '3289 Summit Street'
                        zip_code: '52801'
                        home_phone: null
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                    items:
                      type: object
                      properties:
                        lead:
                          type: string
                          example: rld_MTPQPRUUUY7G
                        status:
                          type: string
                          example: lead
                        type:
                          type: string
                          example: out_of_area
                        email:
                          type: string
                          example: demo@mail.com
                        name:
                          type: string
                          example: 'John Doe'
                        address:
                          type: string
                          example: '3289 Summit Street'
                        zip_code:
                          type: string
                          example: '52801'
                        home_phone:
                          type: string
                          example: null
                          nullable: true
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                  paginate:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 1
                      count:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 10
                      current_page:
                        type: integer
                        example: 1
                      total_pages:
                        type: integer
                        example: 1
      tags:
        - 'Leads list'
  /api/v1/dispatch_board/jobs_for_date:
    get:
      summary: 'Dispatch Board'
      operationId: dispatchBoard
      description: "Returns the Dispatch Board job list for the selected date.\n\nNotes:\n- A job with `id` > 0 represents an already dispatched job record.\n- A job with `id` = 0 represents an undispatched job.\n\nSupported job status values:\n- pending (1)\n- completed (2)\n- skipped (3)\n- missed (4)\n- started (5)\n- dispatched (6)\n\nSupported job types:\n- custom\n- initial\n- one_time\n- reclean\n- recurring"
      parameters:
        -
          in: query
          name: date
          description: 'Date to load the Dispatch Board for. Format must be YYYY-MM-DD.'
          example: '2022-03-28'
          required: true
          schema:
            type: string
            description: 'Date to load the Dispatch Board for. Format must be YYYY-MM-DD.'
            example: '2022-03-28'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 0
                      client_location_id: 2603
                      client_id: null
                      commercial_location_id: 142
                      commercial_client_id: 84
                      pricing_plan_name: 'Pet waste stations'
                      commercial: 1
                      full_name: 'Little Lambs Foundation for Kids'
                      address: '1011 W 400 N'
                      city: Logan
                      zip: '84321'
                      state_name: Utah
                      clean_up_frequency: 1xW
                      count_cross_sells: 1
                      assigned_to_name: 'Bart Cage'
                      assigned_to_id: 265
                      estimate_time: '00:15'
                      type: recurring
                      end_time: null
                      start_time: null
                      status_id: 1
                      status_name: pending
                      duration: '-'
                      gate_code: null
                      gated_community: null
                      lat: 41.7389868
                      lng: -111.860119
                      number_of_dogs: null
                      safe_dogs: null
                      home_phone: '4155550110'
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      email: demo@demo.com
                    -
                      id: 0
                      client_location_id: 2726
                      client_id: 1580
                      commercial_location_id: null
                      commercial_client_id: null
                      pricing_plan_name: 'Regular Plan'
                      commercial: 0
                      full_name: 'Cara Deen'
                      address: '625 South 100 West'
                      city: Garland
                      zip: '84312'
                      state_name: Utah
                      clean_up_frequency: two_times_a_week
                      count_cross_sells: 0
                      assigned_to_name: 'Richard Dawson'
                      assigned_to_id: 258
                      estimate_time: '00:15'
                      type: recurring
                      end_time: null
                      start_time: null
                      status_id: 1
                      status_name: pending
                      duration: '-'
                      gate_code: null
                      gated_community: null
                      lat: 41.7344582
                      lng: -112.1634671
                      number_of_dogs: 2
                      safe_dogs: ''
                      home_phone: '4155550110'
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      email: demo@demo.com
                    -
                      id: 156608
                      client_location_id: 2325
                      type: recurring
                      organization_id: 158
                      client_id: null
                      full_name: 'Community Garden'
                      address: '468 1/2 S 200 W'
                      city: Logan
                      zip: '84321'
                      state_name: Utah
                      assigned_to_id: 265
                      assigned_to_name: 'Bart Cage'
                      end_time: null
                      start_time: null
                      status_id: 6
                      lat: 41.7228185
                      lng: -111.8397648
                      estimate_time: '00:15'
                      job_image: null
                      image_for_client: null
                      note: null
                      note_for_client: null
                      order: 1
                      arrival: 4
                      distance: '3.00'
                      skip_reason_title: null
                      gate_code: null
                      count_cross_sells: 1
                      number_of_dogs: null
                      safe_dogs: null
                      gated_community: null
                      commercial: 1
                      work_areas: null
                      commercial_client_id: 76
                      commercial_location_id: 127
                      start_lat: null
                      start_lng: null
                      start_distance: null
                      clean_up_frequency: null
                      end_lat: null
                      end_lng: null
                      end_distance: null
                      skip_lat: null
                      skip_lng: null
                      skip_distance: null
                      status_name: dispatched
                      duration: '-'
                      home_phone: '4155550110'
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      email: demo@demo.com
                    -
                      id: 156890
                      client_location_id: 2578
                      type: custom
                      organization_id: 158
                      client_id: 1567
                      full_name: 'Carolina Wozniacki'
                      address: '149 W 300 N'
                      city: Logan
                      zip: '84321'
                      state_name: 'Utah - UT'
                      assigned_to_id: 246
                      assigned_to_name: 'Ena Adamz'
                      end_time: '2022-03-29 08:24:07'
                      start_time: '2022-03-29 08:22:08'
                      status_id: 2
                      lat: 41.7374576
                      lng: -111.8385534
                      estimate_time: '00:15'
                      job_image: null
                      image_for_client: null
                      note: ''
                      note_for_client: ''
                      order: 5
                      arrival: null
                      distance: null
                      skip_reason_title: null
                      gate_code: null
                      count_cross_sells: 0
                      number_of_dogs: 1
                      safe_dogs: ''
                      gated_community: null
                      commercial: 0
                      work_areas: null
                      commercial_client_id: null
                      commercial_location_id: null
                      start_lat: null
                      start_lng: null
                      start_distance: null
                      clean_up_frequency: bi_weekly
                      end_lat: null
                      end_lng: null
                      end_distance: null
                      skip_lat: null
                      skip_lng: null
                      skip_distance: null
                      status_name: completed
                      duration: '00:21'
                      home_phone: '4155550110'
                      cell_phone: '2025550101'
                      marketing_allowed: 1
                      marketing_allowed_updated_at: '2025-03-05 10:20:55'
                      marketing_allowed_source: open_api
                      email: demo@demo.com
                properties:
                  data:
                    type: array
                    example:
                      - id: 0
                        client_location_id: 2603
                        client_id: null
                        commercial_location_id: 142
                        commercial_client_id: 84
                        pricing_plan_name: 'Pet waste stations'
                        commercial: 1
                        full_name: 'Little Lambs Foundation for Kids'
                        address: '1011 W 400 N'
                        city: Logan
                        zip: '84321'
                        state_name: Utah
                        clean_up_frequency: 1xW
                        count_cross_sells: 1
                        assigned_to_name: 'Bart Cage'
                        assigned_to_id: 265
                        estimate_time: '00:15'
                        type: recurring
                        end_time: null
                        start_time: null
                        status_id: 1
                        status_name: pending
                        duration: '-'
                        gate_code: null
                        gated_community: null
                        lat: 41.7389868
                        lng: -111.860119
                        number_of_dogs: null
                        safe_dogs: null
                        home_phone: '4155550110'
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        email: demo@demo.com
                      - id: 0
                        client_location_id: 2726
                        client_id: 1580
                        commercial_location_id: null
                        commercial_client_id: null
                        pricing_plan_name: 'Regular Plan'
                        commercial: 0
                        full_name: 'Cara Deen'
                        address: '625 South 100 West'
                        city: Garland
                        zip: '84312'
                        state_name: Utah
                        clean_up_frequency: two_times_a_week
                        count_cross_sells: 0
                        assigned_to_name: 'Richard Dawson'
                        assigned_to_id: 258
                        estimate_time: '00:15'
                        type: recurring
                        end_time: null
                        start_time: null
                        status_id: 1
                        status_name: pending
                        duration: '-'
                        gate_code: null
                        gated_community: null
                        lat: 41.7344582
                        lng: -112.1634671
                        number_of_dogs: 2
                        safe_dogs: ''
                        home_phone: '4155550110'
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        email: demo@demo.com
                      - id: 156608
                        client_location_id: 2325
                        type: recurring
                        organization_id: 158
                        client_id: null
                        full_name: 'Community Garden'
                        address: '468 1/2 S 200 W'
                        city: Logan
                        zip: '84321'
                        state_name: Utah
                        assigned_to_id: 265
                        assigned_to_name: 'Bart Cage'
                        end_time: null
                        start_time: null
                        status_id: 6
                        lat: 41.7228185
                        lng: -111.8397648
                        estimate_time: '00:15'
                        job_image: null
                        image_for_client: null
                        note: null
                        note_for_client: null
                        order: 1
                        arrival: 4
                        distance: '3.00'
                        skip_reason_title: null
                        gate_code: null
                        count_cross_sells: 1
                        number_of_dogs: null
                        safe_dogs: null
                        gated_community: null
                        commercial: 1
                        work_areas: null
                        commercial_client_id: 76
                        commercial_location_id: 127
                        start_lat: null
                        start_lng: null
                        start_distance: null
                        clean_up_frequency: null
                        end_lat: null
                        end_lng: null
                        end_distance: null
                        skip_lat: null
                        skip_lng: null
                        skip_distance: null
                        status_name: dispatched
                        duration: '-'
                        home_phone: '4155550110'
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        email: demo@demo.com
                      - id: 156890
                        client_location_id: 2578
                        type: custom
                        organization_id: 158
                        client_id: 1567
                        full_name: 'Carolina Wozniacki'
                        address: '149 W 300 N'
                        city: Logan
                        zip: '84321'
                        state_name: 'Utah - UT'
                        assigned_to_id: 246
                        assigned_to_name: 'Ena Adamz'
                        end_time: '2022-03-29 08:24:07'
                        start_time: '2022-03-29 08:22:08'
                        status_id: 2
                        lat: 41.7374576
                        lng: -111.8385534
                        estimate_time: '00:15'
                        job_image: null
                        image_for_client: null
                        note: ''
                        note_for_client: ''
                        order: 5
                        arrival: null
                        distance: null
                        skip_reason_title: null
                        gate_code: null
                        count_cross_sells: 0
                        number_of_dogs: 1
                        safe_dogs: ''
                        gated_community: null
                        commercial: 0
                        work_areas: null
                        commercial_client_id: null
                        commercial_location_id: null
                        start_lat: null
                        start_lng: null
                        start_distance: null
                        clean_up_frequency: bi_weekly
                        end_lat: null
                        end_lng: null
                        end_distance: null
                        skip_lat: null
                        skip_lng: null
                        skip_distance: null
                        status_name: completed
                        duration: '00:21'
                        home_phone: '4155550110'
                        cell_phone: '2025550101'
                        marketing_allowed: 1
                        marketing_allowed_updated_at: '2025-03-05 10:20:55'
                        marketing_allowed_source: open_api
                        email: demo@demo.com
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 0
                        client_location_id:
                          type: integer
                          example: 2603
                        client_id:
                          type: string
                          example: null
                          nullable: true
                        commercial_location_id:
                          type: integer
                          example: 142
                        commercial_client_id:
                          type: integer
                          example: 84
                        pricing_plan_name:
                          type: string
                          example: 'Pet waste stations'
                        commercial:
                          type: integer
                          example: 1
                        full_name:
                          type: string
                          example: 'Little Lambs Foundation for Kids'
                        address:
                          type: string
                          example: '1011 W 400 N'
                        city:
                          type: string
                          example: Logan
                        zip:
                          type: string
                          example: '84321'
                        state_name:
                          type: string
                          example: Utah
                        clean_up_frequency:
                          type: string
                          example: 1xW
                        count_cross_sells:
                          type: integer
                          example: 1
                        assigned_to_name:
                          type: string
                          example: 'Bart Cage'
                        assigned_to_id:
                          type: integer
                          example: 265
                        estimate_time:
                          type: string
                          example: '00:15'
                        type:
                          type: string
                          example: recurring
                        end_time:
                          type: string
                          example: null
                          nullable: true
                        start_time:
                          type: string
                          example: null
                          nullable: true
                        status_id:
                          type: integer
                          example: 1
                        status_name:
                          type: string
                          example: pending
                        duration:
                          type: string
                          example: '-'
                        gate_code:
                          type: string
                          example: null
                          nullable: true
                        gated_community:
                          type: string
                          example: null
                          nullable: true
                        lat:
                          type: number
                          example: 41.7389868
                        lng:
                          type: number
                          example: -111.860119
                        number_of_dogs:
                          type: string
                          example: null
                          nullable: true
                        safe_dogs:
                          type: string
                          example: null
                          nullable: true
                        home_phone:
                          type: string
                          example: '4155550110'
                        cell_phone:
                          type: string
                          example: '2025550101'
                        marketing_allowed:
                          type: integer
                          example: 1
                        marketing_allowed_updated_at:
                          type: string
                          example: '2025-03-05 10:20:55'
                        marketing_allowed_source:
                          type: string
                          example: open_api
                        email:
                          type: string
                          example: demo@demo.com
      tags:
        - 'Dispatch Board'
  /api/v2/check_token:
    get:
      summary: 'Show access token details'
      operationId: showAccessTokenDetails
      description: ''
      parameters:
        -
          in: query
          name: token
          description: 'API access token - full string.'
          example: vUcSxeEgTgg0I65bPEgKBqU0AjBRz8cy61843egzKkI3hAcYJ9ErNYe2MTEoIEWo
          required: true
          schema:
[...]
